.selector--matter--container{
    /* margin: 15px -30px; */
    width: 100%;
    margin: 10px 0px;
    /* background-color: aquamarine; */
}

.selector--matter__input{
    background: var(--grey1);
    color:var(--white2);
    width: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.selector--matter__input__option{
    text-align: left;
}