* { 
    margin:0;
    padding:0;
}

.contenedor:link, .contenedor:visited, .contenedor:hover, .contenedor:active {
    color:#0f0;
    font-size:16px;
}

body {
    background: #17202A  ;
    font-family:verdana;
}

.h1 {
    color:#C0392B ;
    font-size:24px;
}
  
.p {
    font-size:16px;
}
  
.ul {
    list-style-type:none;
    color: #0f0;
}

.cabecera {
    color:#ff9;
    background-color:#000 ;
    padding:10px;
}

.contenedor {
    margin:0 auto;
    width:1593px;
}
  
.contenido {
    background-color:#504F62;
    float:left;
    height:663px;
    padding:35px;
    width:1323px;
}

.menu {
    background-color:#504F62;
    float:left;
    height:613px;
    padding:60px;
    width:79px;
    border-right: 1px solid white;
}


.form__control{
    margin: 15px -30px;
    width: 90px;
    /* background-color: aquamarine; */
  
}

.form__control--input {
    background: #68718C;
    color: #DEC9F2;
    width: 150%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.btn--submit{
    width: 150px;
    background: #68718C;
    color: #DEC9F2;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    padding: 5px 0px;
    font-weight: bold;
    display: block;
    margin: 5px -8px;
}

.pie { 
    background-color: #504F62;
    clear:both;
    color:#DEC9F2;
    padding:18px;
    text-align:center;
}