.footer{
<<<<<<< HEAD
    background: #504F62; 
=======
    background: var(--grey1);; 
>>>>>>> 113fe3e7ddd3a5133240d83eb8d3943e6a602689
    color: #DEC9F2;
    width: 100%;
    /* margin: 30px ;  */
    text-align: center;
    font-size: 1em;
    position: relative;
    /* bottom: 5px; */
    /* right: 0px; */
}