.form__control{
    margin: 15px -30px;
    width: 90px;
    /* background-color: aquamarine; */
  
}

.btn--submit{
    width: 150px;
    background: #68718C;
    color: #DEC9F2;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    padding: 5px 0px;
    font-weight: bold;
    display: block;
    margin: 5px -8px;
}