.form--title{
    color: var(--white2);
    font-size: 2em;
    margin-bottom: 20px;
}

.form--form{
    background: var(--purple1); 
    width: 340px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px
}

.controls{
    margin:15px 0px;
    background-color: var(--grey2);
    width: 80%;
    border-radius: 25px;
    padding: 5px 10px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.controls>i{
    margin-right: 15px;
    color: var(--white2);
}

.control--form__input::placeholder{
    color: var(--white2);
}
.control--form__input{ background: none;
    border: none;
    font-size: 1em;
}

.form--form input[type="radio"]{
    display: none;
}

.administrador{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /* border: 1px solid white;  */
}

.profesor{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.entradas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: 15px 0;
    /* margin-bottom: 20px; */
    /* border-radius: 25px; */
    width: 85%;
    height: 35px;
    /* background-color: #5149f3;    */
    
}

.label-radio{
    background: var(--grey2);
    color: var(--white2);
    padding: 5px;
    text-align: center;
    width: 50%;
    /* border-radius: 25px; */
}
.label-radio:hover{
    cursor: pointer;
}

.form--form input[type="radio"]:checked + .label-radio{
    color: var(--grey1);
    background: var(--white2);
}



.btn--submit{
    width: 250px;
    background: var(--grey1);
    color: var(--white2);
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    cursor: pointer;
}

