.form--form{
    background: #888BBF; 
    width: 340px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px
}

.controls{
    margin: 15px 0px;
    background-color: #68718C;
    width: 230px;
    border-radius: 25px;
    padding: 5px 10px;
    /* height:; */
    color: #DEC9F2;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.control--form{
    color: red;

}

.controls>i{
    margin-right: 15px;
    
}

.form--form input[type="radio"]{
    display: none;
}

.form--form.entradas.administrador{
    border-radius: 15px 0 0 15px;
}

.form--form.entradas.profesor{
    border-radius: 0px 15px 15px 0px;
}

.form--form .entradas{
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom: 20px;
    
}

.form--form .label-radio{
    background: #68718C;
    color: #DEC9F2;
    padding: 10px;
    text-align: center;
    width: 49.5%;
   
}

.form--form input[type="radio"]:checked + .label-radio{
    background: purple;
}

.controls>input{
    width: 90%;
    background: none;
    border: none;
    color: #DEC9F2;
    font-size: 1.2rem;
}

.btn--submit{
    width: 250px;
    background: #504F62;
    color: #DEC9F2;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.link--p{
    /*background: rgb(214, 12, 12);*/ 
    color: #DEC9F2;
    width: 500px;
    margin: 30px ; 
    text-align: left;
}