@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

:root{
    --black1:#17202A;
    --black2:#000;
    --green1:#21ac21e7;
    --green2:#0f0;
    --orange1:#C0392B;
    --yellow1:#ff9;
    --grey1:#504F62;
    --grey2:#68718C;
    --white1:#fff;
    --white2:#DEC9F2;
    --purple1:#888BBF;
}

* { 
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--black1);
} 

*::-webkit-scrollbar {
    width: 10px;
    /* height: 10px; */
  }
   
  *::-webkit-scrollbar-track {
    background: var(--grey1);
  }
   
  *::-webkit-scrollbar-thumb {
    background-color: var(--white2);
    outline: 2px solid var(--grey2);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-corner {
    background-color: var(--grey1);
  }


  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }