.contenedor {
    /* margin:0 auto; */
    width: 100vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
  
.contenedor--main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}

.contenido {
    background-color: var(--grey1);
    height:102%;
    padding:35px;
    width:100%;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: scroll;
}

.menu {
    background-color:var(--grey1);
    /* background-color: aqua; */
    height:100%;
    width:200px;
    border-right: 1px solid var(--white2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.menu--main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 0px;
    box-sizing: border-box;
}

main{
	padding: 0rem ;

	/* background-color: lightgray; */
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 700px;
	margin-top: 1.0rem;
    /* background-color: black; */
}

.field{
	display: flex;
	flex-direction: column;

	width: 14rem;
	margin: 0.5rem 0;
}

.field label{
	font-size: 0.9rem;

	margin-bottom: 0.2rem;

	color: var(--white2);
}

.field input{
	font-size: 1.1rem;
    background-color: var(--white2);
	height: 1.3rem;
	padding-left: 0.5rem;

	border: 2px solid #696969;
	border-radius: 8px;
}

.submit{
	justify-content: center;
	width: 10%;
	margin-top: 0.5rem;

	font-size: 1.1rem;
    

	padding: 0.1rem ;
    color: var(--white2);
	border: 3px solid #696969;
	border-radius: 10px;
	background-color: var(--grey2);
}

.Tabla--alumno{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: var(--grey1);
    color: var(--white2);
}

.th--alumno-panel{
    padding: 18px;
    border-radius: 10px;
    border: 1px solid black;
    
    color: var(--white2);
    background-color: var(--grey1);
}

.tr--alumno{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    color: var(--white1);
    background-color: var(--grey1);
}

.td--alumno{
    padding: 15px;
    border: 1px;
    color: var(--white1);
    border-radius: 8px;
    text-align: center;
    background-color: var(--grey1);
}

.thr{
    padding: 10px;
    border: 1px;
    color: var(--white2);
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    background-color: var(--grey2);
}

